<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <p>HTML (HyperText Markup Language) es un lenguaje de marcado utilizado para crear páginas web y aplicaciones web. Es el lenguaje básico utilizado en la creación de sitios web y es fundamental para el desarrollo de la estructura y el contenido de una página web.
        HTML funciona mediante la colocación de etiquetas y atributos en el código fuente de una página web. Estas etiquetas y atributos definen la estructura y el contenido de la página, permitiendo que los navegadores web interpreten y muestren el contenido de manera adecuada.</p>
</body>
</html>