<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <p>
        TS (TypeScript) es un lenguaje de programación de código abierto desarrollado por Microsoft que se basa en JavaScript. TypeScript es un superset de JavaScript, lo que significa que se puede utilizar cualquier código JavaScript válido en un archivo TypeScript.
        La principal característica de TypeScript es la adición de tipos de datos estáticos, lo que permite a los desarrolladores detectar errores de programación en tiempo de compilación en lugar de tiempo de ejecución. Esto aumenta la confiabilidad y la escalabilidad de los proyectos de software, ya que ayuda a evitar errores comunes y permite un mejor mantenimiento del código.
    </p>
</body>
</html>
